* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: "Liberation Sans", "Arial Sans", sans-serif;
}
body{
	background-color: #94DEE5;
	color: #014A51;
}

/* apparence de l'en-tête */
header{
	background-color: #0BAFBE;
	color: #FFB10B;
	padding-top: 10px;
	padding-bottom: 25px;
	background: linear-gradient( #017985, #94DEE5);
}
header h1{
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 15px;
	text-shadow: 1px 1px 0px rgba( 255, 23, 11, 0.8);
}
header h2{
	font-size: 1.8em;
	text-align: center;
	text-shadow: 1px 1px 0px rgba( 255, 23, 11, 0.8);
}

/* apparence de la barre de navigation */
nav{
	margin-top: -8px;
	margin-bottom: 50px;
	width: 100%;
}
nav ul{
	display: table;
	width: auto;
	margin-left: auto;
	/*margin-right: 20px;*/
	margin-right: auto;
	list-style: none;
	background: linear-gradient( #FF5950, #FF170B);
	border-radius: 0.5em 0.5em 0 0;
}
nav ul li{
	display: table-cell;
	width: 100px;
	padding: 4px 10px 9px 10px;
	text-align: center;
	border-radius: 0.5em 0.5em 0 0;
}
nav ul li:hover{
	background: linear-gradient( #FFA8A3, #FF5950);
}
nav ul li a{
	color: #840700;
	font-size: 1em;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
	/*outline: none;*/
}
nav ul li a:hover{
	text-decoration: underline;
}
	/*pb du focus par défaut (cadre en pointillés)
	nav ul li a:focus{
		text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.7);
	}*/

/* apparence de la section principale */
section{
	margin-bottom: 80px;
	margin-left: 100px;
	margin-right: 100px;
}
section h1{
	font-size: 1.2em;
	margin-bottom: 20px;
}
section h2{
	font-size: 1.1em;
	margin-bottom: 15px;
}
section h3{
	margin-top: 15px;
	margin-bottom: 10px;
}
section h1, section h2, section h3{
	text-align: center;
}
section p{
	margin-bottom: 10px;
}
div + p{
	margin-top: 25px; 
}
#paginationConsultation{
	text-align: right;
	margin-right: 30px;
	line-height: 12px;
}
#paginationConsultation a{
		text-decoration: none;
		color: #014A51;
}
#paginationConsultation a:hover{
		font-size: 130%;
}

/* apparence du pied de page */
footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	text-align: center;
	font-size: 0.8em;
	color: #FFB10B;
	padding-top: 15px;
	padding-bottom: 3px;
	margin-top: 30px;
	background-color: #0BAFBE;
	background: linear-gradient( #94DEE5, #017985);
}

/* apparence des tableaux de données */
table{
	background-color: #FFE1A3;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	border-radius: 2px 2px 2px 2px;
}
th, td{
	padding: 10px;
}
th{
	text-align: left;
	padding: 10px 10px 10px 15px; 
}
td{
	font-size: 0.9em;
	text-align: left;
	padding: 10px;
}
tr:hover{
	background-color: #017985;
	color: #FFC750;
}

/* FORMULAIRES */
form{
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}
form div + div{
	margin-top: 1em;
}
fieldset{
	padding: 10px;
	border-radius: 0.5em;
}
fieldset label{
	display: inline-block;
	width: 120px;
	text-align: left;
}
fieldset legend{
	padding-left: 5px;
	padding-right: 5px;
}
fieldset input{
	display: inline-block;
	width: 200px;
	box-sizing: border-box;
	border: 1px solid #999999;
	padding: 7px;
}
fieldset input:focus{
   border-color: #000;
}
fieldset select{
	display: inline-block;
	width: 200px;
	box-sizing: border-box;
	border: 1px solid #999999;
	padding: 7px;
}
textarea {
	padding: 7px;
	box-sizing: border-box;
	border: 1px solid #999999;
	height: 5em;
	width: 260px;
	vertical-align: top;
	resize: vertical;
}
	/*apparence spécifique formulaire "consultation"*/
#formConsultation{
	width: 1000px;
}
	/*apparence spécifique formulaire "recherche"*/
.formRecherche{
	width: 360px;
}
.formRecherche .bouton{
	margin-left: 10.5px;
}
	/*apparence spécifique formulaire "connexion"*/
#formConnexion{
	width: 360px;
}
	/*apparence spécifique formulaire "modifIdentifiant"*/
#formModifIdentifiant{
	width: 420px;
}
#formModifIdentifiant fieldset label{
	width: 180px;
}
	/*apparence spécifique formulaire "administration"*/
#formAdministration{
	width: 360px;
}
#formAdministration fieldset label{
	width: auto;
	text-align: left;
}
#formAdministration fieldset input[type=radio]{
	width: 0;
	margin-left: 20px;
	margin-right: 20px;
}
	/*apparence spécifique formulaire "ajout"*/
.formAjout{
	width: 450px;
}
.formAjout fieldset label{
	width: 150px;
}
.formAjout fieldset input[type=text]{
	width: 260px;
}
.formAjout fieldset select{
	width: 260px;
}
	/*apparence spécifique formulaire "modification"*/
.formModification1, .formModification2{
	width: 400px;
}
.formModification1 fieldset label{
	width: 150px;
}
.formModification2 fieldset label{
	width: 310px;
}
.formModification2 fieldset select{
	width: 60px;
}
.formModification2 fieldset input[type=text]{
	width: 50px;
}
	/*apparence spécifique formulaire "prêt"*/
#formPret1, #formPret2{
	width: 400px;
}
#formPret1 fieldset label{
	width: 130px;
}
#formPret1 fieldset select{
	width: 220px;
}
#formPret2 fieldset label{
	width: 150px;
}
#formPret3{
	width: 520px;
}
#formPret3 fieldset label{
	width: 280px;
}

/* BOUTONS */
	/*apparence des boutons "type de ressources" (onglet "consultation")*/
.bouton{
	width: 161px;
	box-sizing: border-box;
	border: 1px solid #999999;
	padding: 7px 3px 7px 3px;
	font-size: 1.08em;
	background: #017985;
	background: linear-gradient( #41BFCB, #017985);
	border-radius: 8px;
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
	box-shadow: 0 0 5px rgba( 255, 177, 11, 0.5),
							0 -1px 0 rgba( 255, 255, 255, 0.4);
}
	/*apparence des boutons au survol*/
.bouton:hover{
	background: #94DEE5;
	background: linear-gradient( #94DEE5, #41BFCB);
}
	/*apparence du bouton au clic*/
.bouton:active{
	background-color: #0BAFBE;
	box-shadow: 1px 1px 10px #014A51 inset,
							0 1px 0 rgba( 255, 255, 255, 0.4);
}
	/*pb du focus par défaut (cadre en pointillés)
	.bouton:focus{
		text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.7);
	}*/

	/*apparence des boutons "validation"*/
.boutonV{
	display: block;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.08em;
	background: #017985;
	background: linear-gradient( #41BFCB, #017985);
	border-radius: 8px;
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
	box-shadow: 0 0 5px rgba( 255, 177, 11, 0.5),
							0 -1px 0 rgba( 255, 255, 255, 0.4);
}
	/*apparence du bouton au survol*/
.boutonV:hover{
	background: #94DEE5;
	background: linear-gradient( #94DEE5, #41BFCB);
}
	/*apparence du bouton au clic*/
.boutonV:active{
	background-color: #0BAFBE;
	box-shadow: 1px 1px 10px #014A51 inset,
							0 1px 0 rgba( 255, 255, 255, 0.4);
}
